*{margin: 0; padding:0; box-sizing: border-box; outline:none;}

.principal{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: 'cabecalho formulario'
                         'principal formulario'
                         'rodape formulario';
    height:50vh;
    font-family: Arial;
    color: #fff; 
    
}

/* CABEÇALHO */
header{grid-area:cabecalho;}
.logo{display: flex; align-items: center; padding: 10px 30px;}
.logo img{width: 80px;}
.logo h1{font-family: verdana; color:#274083;}

/* PRINCIPAL */
main{grid-area: principal;}

/* FORMULÁRIO */
aside{grid-area: formulario;}

/* RODAPÉ */
footer{grid-area: rodape;}



